rest:
  listenAddress: "localhost"
  port: 8000
  enableSwagger: true
  gracefulTimeout: 10
  readTimeout: 10
  writeTimeout: 10
  appName: "golang-oauth2-server"

mongo:
  uri: mongodb://127.0.0.1:27017
  db: golang-oauth2-server
  connectionTimeout: 10
  pingTimeout: 3

postgres:
  host: localhost:54321
  user: app
  password: app2024
  schema: dev_oauth2
